td{border: solid black;}    

th{border: solid black;}    
body{   
    background-color:rgb(127, 161, 138) ;
}   
svg{    
    border:solid rgb(94, 11, 11) ;
}   

.pk{    
    color: rgb(13, 107, 107);
}   
